
#l-top{position: relative;
min-width: 980px;margin-bottom: 20px;}
#miniLink {
    width: 300px;
    line-height: 18px;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 2000;
    zoom: 1;
    text-align: right;
    font: 12px Arial;
    color: #000;
    vertical-align: baseline;
}

#miniLink .promise .document {
    background: url("../images/ub2plyNv.png");
    background-repeat: no-repeat;
    background-position: -840px -48px;
    height: 14px;
    width: 14px;
    display: inline-block;
}

#miniLink .promise a {
    text-decoration: none;
    vertical-align: top;
}

#miniLink .promise span {
    vertical-align: top;
}

#miniLink .music .mn {
    background: url("../images/aeAqv8Bn.png");
    background-position: 100% -24px;
    background-repeat: no-repeat;
    width: 11px;
    height: 14px;
    display: inline-block;
}
#miniLink .music:hover .music-next{display: block;}
.music-next{
    display: none;
    border: 1px solid #999;
    width: 90px;
    position: absolute;
    right:62px;
    top: 15px;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 2px 0 #ccc;
    -moz-box-shadow: 1px 1px 2px 0 #ccc;
    box-shadow: 1px 1px 2px 0 #ccc;
    text-align: left;
    color: #888;
}

.music-next ul {
    list-style: none;
}

.music-next ul li {
    width: 84px;
    display: inline-block;
    border-bottom: 1px solid #ebebeb;
    padding: 3px;
    margin-left: 0;
}

.music-next a {
    text-decoration: none;
    margin-right: 0;
    height: 20px;
    width: 90px
}

.music-next-img {
    display: inline-block;
    width: 19px;
    height: 13px;
    background: url("../images/ub2plyNv.png") no-repeat;
    background-position: -792px -96px;
    margin: 0;
}

.music-next li:hover {
    background: #ebebeb;
}

#miniLink .music a, #miniLink .music span {
    vertical-align: top;
}
#miniLink li {
    float: left;
    list-style: none;
}

#miniLink a {
    color: #2d64b3;
    margin-left: 6px;
}

#line {
    width: 1px;
    color: gray;
}


#top{
    overflow: visible;
    width: 1220px;
    height: 118px;
    margin: 0 auto;
}
#top1{
    height: 98px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    font: 12px arial;
    position: relative;
    z-index: 1000;
    zoom: 1;
}
.image {
    padding: 10px 16px 0 0;
    float: left;
    display: inline;
}
.image a {
    height: 46px;
    width: 137px;
    display: block;
    background: url("../images/oGmkChx7.png");
    background-position: -1044px -84px;
}

#smallNavigation {
    float: left;
    padding-bottom: 0;
}

#smallNavigation .current {
    padding-bottom: 7px;
    font-size: 14px;
    font-family: Tahoma, Arial, 'Helvetica Neue', "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", Simsum, STXihei, "华文细黑", sans-serif;
}

#smallNavigation .current a {
    margin-right: 18px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

#smallNavigation .current a:visited {
    font-weight: bold;
}

#find {
    clear: both;
    position: relative;
}

.name {
    border: 1px solid #ababab;
    height: 32px;
    width: 460px;
    display: block;
    float: left;
    position: relative;
    vertical-align: top;
    border-right: none;
}

.name label {
    font-size: 14px;
    font-family: Microsoft YaHei, tahoma, arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif;
    color: #999;
    cursor: text;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 7px;
}

.name input {
    padding: 0;
    margin: 0;
    width: 450px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: 14px;
    font-family: Microsoft YaHei, tahoma, arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif;
    color: #999;
    background: transparent;
    border: none;
    outline: medium;
}

.input .button {
    width: 100px;
    height: 34px;
    display: block;
    float: left;
    vertical-align: top;

}

.button input {
    width: 100px;
    height: 34px;
    background: #ddd url("../images/rF9AAN1o.png");
    background-position: -108px -408px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: 0;
    box-sizing: border-box;
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
}
.button input:hover{
    background: #ddd url("../images/rF9AAN1o.png");
    background-position: 0 -396px;
}

#select ul{height: 25px;
    line-height:25px;
    display:inline-block;
    overflow:hidden;
    width: 560px;
    padding: 5px 0;
    list-style: none;
}
#select ul li{
    float: left;
    margin-left: 5px;
}
#select ul li a{
    font-size: 12px;
    max-width: 90px;
color: #7a7a7a;
display: inline-block;
text-decoration: none;}
#select ul li a:hover{text-decoration: underline;}
.m_images{position: relative;}
.m_images ul{
    display: block;
    position: absolute;
    top:60px;
    right:0;
    list-style: none;
    width: 346px;
    height: 24px;
    float: right;
text-align: center;}
.m_images ul li{float: left;}
.m_images ul li span{
    width: 1px;
    height: 8px;
    line-height: 8px;
    color: #cccccc;
    margin: 8px 0;
    float: left;
    display: inline-block;
    }
.m_images a{
    background: url("../images/5NM2LFDO.png");
background-repeat: no-repeat;
    float: left;
    margin-right: 13px;
    margin-left: 13px;
    text-decoration: none;
    color: #3373cc;
    cursor: auto;
    font-size: 14px;
}
.m_images .m_images_li1 a{background-position:-672px -36px;
    height: 24px;
    width: 34px;
margin-left: 0;}
.m_images .m_images_li2 a{background-position:-1044px -36px;
    height: 24px;
    width: 24px;}
.m_images .m_images_li3 a{background-position:-1020px -36px;
    height: 24px;
    width: 24px;}
.m_images .m_images_li4 a{background-position:-1068px -36px;
    height: 24px;
    width: 24px;}
.m_images .m_images_li5 a{background-position:-948px -36px;
    height: 24px;
    width: 24px;}
.m_images .m_images_li6 a{background-position:-1116px -36px;
    height: 24px;
    width: 24px;}
.m_images .m_images_li7 a{background-position:-732px -36px;
    height: 24px;
    width: 17px;
margin-right: 0;}
.hover-qr img{
    border: 1px solid #ddd;}
.hover-qr{
    position: absolute;
    top: 35px;
    right: 0;
    line-height: 40px;
    height: 40px;
    display: none;
}
.m_images .m_images_li7:hover .hover-qr{
    display: block;
}
#max_select {
    width: 1355px;
    height: 42px;
    background: #337ccb;
    position: relative;
}

#max_select .max-in-select {
    position: absolute;
    left: 67px;
}

.max-in-select a {
    width: 113px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    float: left;
    border-right: 1px solid #5893d2;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Tahoma, Arial, 'Helvetica Neue', "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", Simsum, STXihei, "华文细黑", sans-serif;
}

.max-in-select a:visited {
    background: #64aeff;
}

.max-in-select a:hover {
    background: #4790e0;
}

.myMusic {
    position: absolute;
    right: 68px;
}

.myMusic a {
    width: 145px;
    height: 26px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: #FFF;
    border: 1px solid #226dbe;
    margin-top: 7px;
}

.myMusic-word {
    display: inline-block;
    width: 86px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #000;
    text-align: left;
    float: right;
}

.myMusic-src {
    display: inline-block;
    text-align: left;
}

.myMusic img {
    display: inline-block;
    text-align: center;
}